body{
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
/* background-color: rgba(246, 234, 222); */
background-color: white;
font-family: "Jacques Francois", serif;
font-weight: 400;
font-style: normal;


}
a{
    text-decoration: none;
    color: white;
}
.is-visibility{
    visibility: visible;
    }
    .is-hidden{
        visibility: hidden;
    }
.header_relative_wrapper{
    position: relative;
    width: 100%;
    height: auto;
}
.pre_navigation{
    width: 100%;
   
   display: flex;
   justify-content: center;
   align-items: center;
 
   
}


.head_h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 26px;
  
 
}
.head_h2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 24px;
    margin-top: 5%;
}
 
.text{
    width: 80%;
    font-size: 20px;
    line-height: 1.4;
    margin-left: 5%;
}
.mosaic{
    display: flex;

    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    width: 10%;
    height: 100%;
    overflow: hidden;
   
    
}
.glass{
    position: absolute;
    right: 0;
    top: 0;
    width:90%;
    height: inherit;
   
    background-color: rgba(255, 255, 255, 0.121);
}

.navigation{
    color:white;
    font-weight:900;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    width: 100%;
    height: 150px;
    position: relative;
    /* background-color: rgba(48, 5, 88, 0.167); */
    background-color:#9e5f0038;

}

.we_are_here{
    width: 10%;
    margin-left: 1%;
    left: 0;
    cursor: pointer;

}

.we_are_here_span{
    color: white;
    font-weight: 900;
    text-transform: uppercase;
}
.we_are_here_span:hover{
    color: #902000;
}
.navigation-ul{
  
    font-weight: bolder;
    width: inherit;
    list-style-type: none;
    display: flex;
 justify-content: center;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    
}
.important_li{
    cursor: pointer;
    
    
    
}
.important_li:hover{
    color: #902000;
}
.navigation_second_deep_container{
    position: absolute;
    width: 10%;
    height: inherit;
    bottom: -103%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color:rgba(48, 5, 88, 0.167); */
    background-color:#9e5f0038;
    border: 1px solid black;



    
}
.navigation_second_deep{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    list-style-type: none;
    gap: 40px;

}
.second-deep-li{
    cursor: pointer;
}
.second-deep-li:hover{
color: #902000;
}
.container_with_map_wrapper{
    width: 60%;
   visibility: hidden;
    
    padding-bottom: 5%;
    /* background-color:rgba(48, 5, 88, 0.167); */
    background-color:#9e5f0038;
    border: 2px solid black;
}
.container_with_map_wrapper.is-visibility {
  visibility: visible;
  }
.container_with_map{
    display: flex;
    background-color: black;
    padding-bottom: 4%;
    width: 95%;
}
.information_list{
    display: flex;
    color: white;
    justify-content: center;
    align-items: flex-start;
    list-style-type: none;
    flex-direction:column;
    gap: 20px;
    font-size: larger;

}

.navigation_static_image{
    background-image: url("../assets/salon-11.png");
    background-size: cover;
    background-attachment: fixed;
    z-index: 5;
    width: 100%;
    height: 700px;
}

.main_relative_wrapper{
    position:relative;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
   

}
.mosaic_main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    right: 0;
   top:0;
    z-index: -1;
    width: 10%;
    height: 100%;
    overflow: hidden;
    
   
    
}

.show_demo_container{
    display: flex;
    position: relative;
    margin-top: 10%;
    width: 100%;
    height: 500px;
    z-index: 5;
   
}


.demo_container{
    display: flex;

  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
    width: 50%;
    height: 500px;
    overflow: hidden;
    z-index: 5;
 
}

.span_text_asortiment{
    position: absolute;
    left: 5%;
    top: 20%;
    text-transform: uppercase;

   color: white;
    font-size: 50px;
    text-shadow: 2px 2px rgb(180, 19, 19);
}
.span_text_design{
    position: absolute;
    left: 5%;
    top: 40%;
    text-transform: uppercase;

   color: white;
    font-size: 50px;
    text-shadow: 2px 2px rgb(180, 19, 19);
}
.span_text_enployed{
    position: absolute;
    left: 5%;
    top:60%;
    text-transform: uppercase;

   color: white;
    font-size: 50px;
    text-shadow: 2px 2px rgb(180, 19, 19);
}

.img_demo{
    width: 100%;
    height: 700px;
    background-attachment: fixed;
    background-image: url("../assets/salon-14v2.jpg");
    background-size: cover;

}

.squares{
    
    box-shadow: 0 0 2px black;
    height: 10px;
    width: 9px;

    margin: 1px;
}
.squaresMosaic{
    box-shadow: 0 0 2px rgb(243, 238, 238);
     height: 20px;
    width: 20px;
    margin: 1px;  
}
.squaresFooter{
    box-shadow: 0 0 2px rgb(243, 238, 238);
     height: 20px;
    width: 20px;
   
}
.text_container{
    width: 100%;
    display: flex;
    padding-bottom: 5%;
    padding-top: 5%;


 
    
}
.text_container_second-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.text_for_slaider{
    width: 50%;

    
}
.text_container_paragraph{
    font-size: 20px;
    line-height: 1.8;
    margin-left: 5%;
   
}
.producent_img_container{
    width: 50%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
   

}


.hue_rotate_animation{
    background-image: url("../assets/salon-4v2.jpg");
    background-size: cover;
    width: 100%;
    height: 700px;
    background-attachment: fixed;
    animation: hue-rot 8s infinite;
    padding-bottom: 5%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    
}

@keyframes hue-rot{
    0% {
        filter: hue-rotate(0deg);
      }
    15% {
        filter: hue-rotate(25deg);
    }
    25% {
        filter: hue-rotate(50deg);
    }
      
      50% {
        filter: hue-rotate(100deg);
      }
    65%{
        filter: hue-rotate( 50deg);
    }
    75% {
        filter: hue-rotate(25deg);
      }  
      100% {
        filter: hue-rotate(0deg);
      }
    }

    .span_key_word{
        width: 30%;
        height: 20%;
        background-color: rgba(255, 255, 255, 0.146);
        border: 2px doted black;
        cursor: pointer;
        margin-top: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        font-weight: 900;
        text-transform: uppercase;

    }

/* ================================================= FOOTER================================================================ */

.footer_container_wrapper{
    width: 100%;
  
    height: auto;
    
    padding-bottom: 5%;
    background-color: #151315;
    display: flex;

    color: white;

}
.footer_information{
    width: 33%;
    display: flex;

    
}
.footer_information_list{
    display: flex;
    color: white;
    justify-content: center;
    align-items: flex-start;
    list-style-type: none;
    flex-direction:column;
    gap: 20px;
    font-size: larger;
}
.address{
    color: white;
    text-decoration: none;
}
.footer_logo{
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mosaic_footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20px;
    overflow: hidden;
}
.d_flex{
    display: flex;
}
.d_none{
    display: none;
}


/* =========================================KUCHNIA======================================================= */
.navigation_static_image_cousine{
    background-image: url("../assets/salon-9.png");
    background-size: cover;
    background-attachment: fixed;
    z-index: 5;
    width: 100%;
    height: 700px;
}
.navigation_cousine{
    color:white;
    font-weight:900;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    width: 100%;
    height: 150px;
    position: relative;
 
    background-color:#454c6044;
}
.navigation_second_deep_container_cousine{
    position: absolute;
    width: 10%;
    height: inherit;
    bottom: -103%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color:rgba(48, 5, 88, 0.167); */
    background-color:#454c6044;
    border: 1px solid black;
}


.main_relative_wrapper_cousine{
    position:relative;
    width: 100%;
   
    padding-top: 5%;

}
.silver_glass_imitation{  
    position: absolute;
    top: 0;
    right:7%;
   width: 15%;
   height: 100%;
   background-image:linear-gradient(to left, #c5c6c8, #848ca1, #d8dee9,#454c60,#2e3240,#f0edf3);
   z-index:-1;


}
.text_container_cousine{
    width: 70%;
    display: flex;
    padding-bottom: 5%;
    padding-top: 5%;
}
.kitchen_sink_wall{
    background-color: #151315;
    position: relative;
}

.sink_button_first{
    position: absolute;
    top: 45%;
    left: 41.5%;
    background-color:#0fc33f;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 1;
}
.sink_button_second{
    position: absolute;
    top: 27%;
    right:5%;
    background-color:#0fc33f;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
}
.sink_button_third{
    position: absolute;
    top: 45%;
    right:11%;
    background-color:#0fc33f;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
}
.sink_presentation_first{
    position: absolute;
    top: 35%;
    left: 46%;
    width: 35%;
    background-color: #f0edf3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    border: 2px solid black;
}
.sink_presentation_second{
    position: absolute;
    top: 15%;
    right: 10%;
    width: 35%;
    width: 40%;
    background-color: #f0edf3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    border: 2px solid black;
}
.sink_presentation_third{
    position: absolute;
    top: 35%;
    right: 15%;
    width: 35%;
    width: 40%;
    background-color: #f0edf3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    border: 2px solid black;
}